{
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    },
    "production": {
      "presets": ["@babel/preset-env", "minify"],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
